# Example configuration file.  Place in $HOME/.pidvbip or pass full
# path and filename to pidvbip with the "-c" option.
#
# Command-line arguments will override anything in this config file.

##### Server options

# Use AVAHI to search for tvh servers
enable-avahi=0

# Hostname or IP address of tvheadend server
host=192.168.55.3

# HTSP port of tvheadend server
port=9982

# HTSP username
username=pi

# HTSP password
password=pi


##### Startup options

# Number of initial channel to tune to
channel=1

# Do not stream a channel on startup (0=stream; 1=do not stream)
startup-stopped=0


##### Hardware configuration

# Audio output destination: hdmi,local
audio-output=hdmi

# Disable CEC support - 0=Enable CEC; 1=Disable CEC
no-cec=0


##### Playback options

# De-interlace SD content (<= 720x576)
deinterlace-sd=1

# De-interlace HD content (> 720x576)
deinterlace-hd=0

# Idle timeout in seconds before streaming stops (default 2Hrs)
idle-timeout=7200
